@import '../../../../assets/index.scss';

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: var(--color-text-muted);
}

.root:hover {
  text-decoration: none;
}

.number {
  color: var(--color-text-primary);
  font-weight: 600;
}
