@import '../../../assets/index.scss';

.root {
  display: flex;
  background: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border-muted);
  gap: var(--page-gap);
}

.sidebar {
  width: var(--page-sidebar-width);
  flex-shrink: 0;
}

.content {
  padding: 0 16px;
}
