@import '../../../assets/index.scss';

.root {
  display: flex;
  flex-direction: row;
  padding: 56px 0;
}

.userinfo {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.names {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}

.username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: var(--color-text-muted);
  line-height: 24px;
}
