@import '../../../../assets/index.scss';

.root {
  width: 100%;
}

.button {
  display: block;
  width: 100%;
  padding: 5px 16px;
  color: var(--color-text-primary);
  background-color: #f6f8fa;

  box-shadow: rgba(27, 31, 36, 0.04) 0 1px 0 0;
  border: 1px solid rgba(27, 31, 36, 0.15);

  border-radius: 6px;

  text-align: center;
  font-size: $medium-font-size;

  font-weight: 500;
  line-height: 20px;

  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 36, 0.15);
  transition-duration: 0.1s;
}

.button:active {
  background-color: hsla(220, 14%, 93%, 1);
  border-color: rgba(27, 31, 36, 0.15);
  transition-duration: 0.1s;
}
