@import '../../../../assets/index.scss';

.root {
  display: flex;
  flex-direction: column;
}

.image {
  position: relative;
  z-index: 1;
  width: 175px;
  height: 175px;
  object-fit: cover;
  background: var(--color-bg-primary);
  border: 1px solid #3B8CD2;
  border-radius: 23px;
  box-shadow: 0 0 0 1px rgba(27, 31, 36, 0.15);
}

.names {
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 0;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}

.username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  color: var(--color-text-muted);
  line-height: 24px;
}
