@import '../../assets/fonts.scss';

.root {
    font-size: $medium-font-size;
    list-style-type: none;
    display: flex;
    height: 48px;
    align-items: center;
}

.text {
    padding: 0px 5px;
}

.badge {
    background-color: #E6E6E6;
    padding: 8px;
    border-radius: 5em;
}