:root {
  --dark-primary: #24292f;
  --color-text-primary: var(--dark-primary);
  --color-text-muted: #57606a;
  --color-border-muted: #d0d7de;
  --color-bg-primary: #ffffff;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
