:root {
  --dark-primary: #3B8CD2;
  --color-text-primary: #24292f;
  --color-text-muted: #57606a;
  --color-border-muted: #d0d7de;
  --color-bg-primary: #ffffff;
  --color-neutral-emphasis-plus: #6e7681;
  --color-neutral-emphasis: #6e7681;
  --color-neutral-muted: #afb8c133;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
